<!-- Standard Instances -->
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Standard Instances</h3>
    </div>

    <div class="panel-body">

        <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                {% if loadBalancer.Instances is defined %}
                    {% for i in loadBalancer.Instances %}
                        {% if i.State == 'InService' %}
                            <a href="{{ path('prod_instance_detail', { 'instance_id': i.InstanceId }) }}" class="label label-success">{{ i.InstanceId }}</a>
                        {% else %}
                            <a href="{{ path('prod_instance_detail', { 'instance_id': i.InstanceId }) }}" class="label label-danger">{{ i.InstanceId }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
        </tbody>
        </table>

    </div><!-- panel-body -->
</div><!-- panel-heading -->
